<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Evaluacion_POO_Restaurante.Properties.Settings.RestauranteConnectionString"
            connectionString="Data Source=DESKTOP-BUUJ9LF\SQLEXPRESS01;Initial Catalog=Restaurante;User ID=sa;Password=erick;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>